<!doctype html>
<html>
    <head>
        <title>{{{_sections.title}}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{{_sections.stylesheet}}}
    </head>
    <body>
        {{{ body }}}
    </body>
</html>