<!doctype html>
<html>
    <head>
        <title>{{{_sections.title}}}</title>
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        {{{_sections.stylesheet}}}
    </head>
    <body>
        {{{ body }}}
        <footer>Made by <a href="https://github.com/chuyachia/" target="_blank">Chu-Ya Chia</a></footer>
    </body>
</html>