<!doctype html>
<html>
    <head>
        <title>{{{_sections.title}}}</title>
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        {{{_sections.stylesheet}}}
    </head>
    <body>
        {{{ body }}}
        <footer>Made by <a href="https://github.com/chuyachia/" target="_blank">Chu-Ya Chia</a></footer>
    </body>
</html>