.cube,
.cylinder {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
.cube {
  -webkit-transform: rotateY(5deg);
  -moz-transform: rotateY(5deg);
  -ms-transform: rotateY(5deg);
  -o-transform: rotateY(5deg);
}
.stage {
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -500px;
  -moz-perspective-origin: 50% -500px;
  -ms-perspective-origin: 50% -500px;
  perspective-origin: 50% -500px;
  display: inline-block;
}
figure {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 3%;
  background-color: #e3dcc0;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
}
.dark > figure {
  background-color: #4c1c24;
}
.dark > figure.top {
  background-color: #39151b;
}
.dark > figure.left {
  background-color: #270e12;
}
figure.top {
  background-color: #dbd2ae;
  -webkit-transform: rotateX(90deg) translateZ(calc(80px/2));
  -moz-transform: rotateX(90deg) translateZ(calc(80px/2));
  -ms-transform: rotateX(90deg) translateZ(calc(80px/2));
  -o-transform: rotateX(90deg) translateZ(calc(80px/2));
}
figure.left {
  background-color: #d3c89d;
  -webkit-transform: rotateY(-90deg) translateZ(calc(80px/2));
  -moz-transform: rotateY(-90deg) translateZ(calc(80px/2));
  -ms-transform: rotateY(-90deg) translateZ(calc(80px/2));
  -o-transform: rotateY(-90deg) translateZ(calc(80px/2));
}
.hole.dark > .top {
  background: radial-gradient(black 40%, #39151b 50%);
}
.hole > .top {
  background: radial-gradient(black 40%, #dbd2ae 50%);
}
figure.front {
  -webkit-transform: translateZ(calc(80px/2));
  -moz-transform: translateZ(calc(80px/2));
  -ms-transform: translateZ(calc(80px/2));
  -o-transform: translateZ(calc(80px/2));
  background: linear-gradient(#d3c89d, #e3dcc0);
}
figure.back {
  -webkit-transform: rotateY(180deg) translateZ(calc(80px/2));
  -moz-transform: rotateY(180deg) translateZ(calc(80px/2));
  -ms-transform: rotateY(180deg) translateZ(calc(80px/2));
  -o-transform: rotateY(180deg) translateZ(calc(80px/2));
}
figure.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(calc(80px/2));
  -moz-transform: rotateX(-90deg) translateZ(calc(80px/2));
  -ms-transform: rotateX(-90deg) translateZ(calc(80px/2));
  -o-transform: rotateX(-90deg) translateZ(calc(80px/2));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
figure.right {
  -webkit-transform: rotateY(90deg) translateZ(calc(80px/2));
  -moz-transform: rotateY(90deg) translateZ(calc(80px/2));
  -ms-transform: rotateY(90deg) translateZ(calc(80px/2));
  -o-transform: rotateY(90deg) translateZ(calc(80px/2));
}
.cylinder > .top,
.cylinder > .bottom {
  border-radius: 50%;
}
.short > .front {
  -webkit-transform: translateZ(calc(80px/2)) translateY(calc(80px/2));
  -moz-transform: translateZ(calc(80px/2)) translateY(calc(80px/2));
  -ms-transform: translateZ(calc(80px/2)) translateY(calc(80px/2));
  -o-transform: translateZ(calc(80px/2)) translateY(calc(80px/2));
  height: calc(80px/2);
}
.short > .back {
  -webkit-transform: rotateY(180deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -moz-transform: rotateY(180deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -ms-transform: rotateY(180deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -o-transform: rotateY(180deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .left {
  -webkit-transform: rotateY(-90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -moz-transform: rotateY(-90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -ms-transform: rotateY(-90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -o-transform: rotateY(-90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .right {
  -webkit-transform: rotateY(90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -moz-transform: rotateY(90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -ms-transform: rotateY(90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  -o-transform: rotateY(90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .top {
  -webkit-transform: rotateX(90deg) translateZ(0px);
  -moz-transform: rotateX(90deg) translateZ(0px);
  -ms-transform: rotateX(90deg) translateZ(0px);
  -o-transform: rotateX(90deg) translateZ(0px);
}
.cylinder > .front {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.dark > .front {
  background: linear-gradient(#270e12, #4c1c24);
}
.cylinder.short > .front {
  width: 80px;
  height: calc(80px/2);
  -webkit-transform: translateY(calc(80px/2));
  -moz-transform: translateY(calc(80px/2));
  -ms-transform: translateY(calc(80px/2));
  -o-transform: translateY(calc(80px/2));
}
footer {
  position: fixed;
  bottom: 5px;
  right: 0;
  left: 0;
  text-align: center;
  font-family: Helvetica;
  z-index: 10;
}
footer > a {
  text-decoration: underline dashed;
  text-underline-position: under;
  color: #e3dcc0;
}
body {
  background-color: grey;
  font-family: 'Courgette';
  font-size: 18px;
  color: #e3dcc0;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
  cursor: pointer;
}
#placezone {
  float: left;
  -webkit-transform-style: preserve-3d;
}
.base {
  display: block;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #666;
  -webkit-transform: rotateX(90deg) translateX(25px) translateY(80px);
}
div[draggable=true] > .bottom {
  box-shadow: 0px 0px 20px 10px #d9534f;
}
.selectable .bottom {
  box-shadow: 0px 0px 30px 10px #6aa3d5;
}
.selectable figure {
  cursor: pointer;
}
.shine > .base {
  box-shadow: 0px 0px 20px 10px #4d4d4d;
}
.highlight > .base {
  background-color: #d9534f;
  box-shadow: 0px 0px 20px 10px #d9534f;
}
#board {
  margin-top: 200px;
  margin-bottom: 50px;
}
#board:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
#overlay {
  opacity: 0.4;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.modal {
  color: #4c1c24;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 20;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  width: 80%;
}
.modal > span {
  cursor: pointer;
  font-weight: bold;
}
.modal > .left {
  float: left;
}
.modal > .right {
  float: right;
}
.hide {
  display: none;
}
#messagebox {
  font-size: 2em;
  border: 20px groove #e3dcc0;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  position: absolute;
  border-radius: 3px;
}
#info {
  position: fixed;
  line-height: 50px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  background-color: #666;
  color: #333333;
  border-radius: 100% 0 0 0;
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
#quarto {
  color: #4c1c24;
  cursor: pointer;
  font-size: 1.5em;
}
.wrap {
  position: absolute;
}
#sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-flow: row;
  right: 0;
  z-index: 15;
  justify-content: flex-end;
  transition: all 0.5s;
  font-family: Helvetica;
  color: #666;
}
@media (min-width: 768px) {
  #sidebar {
    width: 50%;
  }
}
@media (min-width: 1224px) {
  #sidebar {
    width: 40%;
  }
}
#sidebar-btn {
  align-self: flex-start;
  box-shadow: 1px 1px 4px #666;
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  padding: 10px;
}
#sidebar-btn.unread > i:after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #ffd100;
  position: relative;
  top: -35px;
}
#sidebar-pane {
  flex: 1 1 auto;
  box-shadow: 1px 1px 4px #666;
  background-color: white;
  display: flex;
  flex-flow: column;
  transition: all 0.5s;
  overflow-x: hidden;
}
#sidebar-pane > * {
  margin: 10px;
}
#sidebar.nowidth {
  width: 0%;
}
#chat {
  flex: 3 1 auto;
  overflow-y: scroll;
  overflow-x: auto;
  margin-bottom: 10px;
}
#chat > div:first-child {
  text-align: center;
}
#chat * {
  word-wrap: break-word;
}
.right-align {
  text-align: right;
}
.input-field * {
  border-radius: 3px;
  font-size: 1rem;
}
input,
textarea {
  width: 100%;
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;
  font-family: Helvetica;
}
#gif-btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid lightgray;
}
#gifsearch {
  position: absolute;
  border: 1px solid lightgray;
  bottom: 50px;
  background-color: white;
  padding: 10px;
  height: 80%;
  width: 60%;
  display: flex;
  flex-flow: column;
}
#gifsearch:before,
#gifsearch:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  top: 100%;
  left: 1%;
}
#gifsearch:before {
  border-color: lightgray transparent transparent transparent ;
  border-width: 12px;
  transform: translateX(-2px);
}
#gifsearch:after {
  border-color: white transparent transparent transparent ;
  border-width: 10px;
}
#gifsearch.noshow {
  display: none;
}
#gifpreview {
  overflow-y: scroll;
}
#gifpreview > img {
  cursor: pointer;
}
