.cube,
.cylinder {
  -webkit-transform-style: preserve-3d;
}
.cube {
  -webkit-transform: rotateY(5deg);
}
.stage {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  -webkit-perspective: 1200px;
  -webkit-perspective-origin: 50% -500px;
}
figure {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 3%;
  background-color: #e3dcc0;
  -webkit-transform-origin: 50% 50% 0;
}
.dark > figure {
  background-color: #4c1c24;
}
.dark > figure.top {
  background-color: #39151b;
}
.dark > figure.left {
  background-color: #270e12;
}
figure.top {
  background-color: #dbd2ae;
  -webkit-transform: rotateX(90deg) translateZ(calc(80px/2));
}
figure.left {
  background-color: #d3c89d;
  -webkit-transform: rotateY(-90deg) translateZ(calc(80px/2));
}
.hole.dark > .top {
  background: radial-gradient(black 40%, #39151b 50%);
}
.hole > .top {
  background: radial-gradient(black 40%, #dbd2ae 50%);
}
figure.front {
  -webkit-transform: translateZ(calc(80px/2));
  background: linear-gradient(#d3c89d, #e3dcc0);
}
figure.back {
  -webkit-transform: rotateY(180deg) translateZ(calc(80px/2));
}
figure.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(calc(80px/2));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
figure.right {
  -webkit-transform: rotateY(90deg) translateZ(calc(80px/2));
}
.cylinder > .top,
.cylinder > .bottom {
  border-radius: 50%;
}
.short > .front {
  -webkit-transform: translateZ(calc(80px/2)) translateY(calc(80px/2));
  height: calc(80px/2);
}
.short > .back {
  -webkit-transform: rotateY(180deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .left {
  -webkit-transform: rotateY(-90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .right {
  -webkit-transform: rotateY(90deg) translateZ(calc(80px/2)) translateY(calc(80px/2));
  width: 80px;
  height: calc(80px/2);
}
.short > .top {
  -webkit-transform: rotateX(90deg) translateZ(0px);
}
.cylinder > .front {
  -webkit-transform: translateY(0px);
}
.dark > .front {
  background: linear-gradient(#270e12, #4c1c24);
}
.cylinder.short > .front {
  width: 80px;
  height: calc(80px/2);
  -webkit-transform: translateY(calc(80px/2));
}
* {
  font-size: 18px;
}
.title {
  font-family: 'Courgette';
  font-size: 3em;
}
body {
  background-color: grey;
  color: #e3dcc0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
input {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.input-field {
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  font-family: Helvetica;
}
button {
  border: 3px solid #c4b579;
  border-radius: 3px;
  background-color: #e3dcc0;
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
