<div class="stage">
    <div id="piece{{id}}" class="{{class}}">
      <figure class="back"></figure>
      <figure class="top"></figure>
      <figure class="bottom"></figure>
      <figure class="left"></figure>
      <figure class="right"></figure>
      <figure class="front"></figure>
    </div>
</div>