{{#section 'title'}}
Quarto
{{/section}}

<form action="join" method="post">
    Join an existing game : <input name="roomname" type="text" required>
    <input type="submit">
</form>
<span class="warning">{{error}}</span>
<form action="create" method="post">
     Create a new game : <input name="roomname" type="text" required>
      <input type="submit">
</form>
 